body {
    background-color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 100;
    width: 100%;
}

html {
    font-size: inherit;
    font-weight: inherit;
    background-color: whitesmoke;
}

.heading {
    &_1 {
        text-align: center;
        font-size: 40px;
        color: green;
        margin-top: 40px;
    }
}

.form {
    margin-bottom: 5%;
    padding: 5%;
    background-color: rgb(209, 222, 231);
    label {
        margin-top: 5px;
    }
    label.input-label {
        display: inline-block;
        text-align: right;
        width: 220px;
    }
    label.interest-rate {
        width: 2px;
    }
    input {
        width: 200px;
        height: 20px;
        font-size: 1rem;
        margin-top: 10px;
    }
    select {
        font-size: 1rem;
        width: 100px;
        height: 30px;
        margin-top: 10px;
    }
    #calculate {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        height: 30px;
        margin-left: 260px;
        margin-top: 20px;
        width: 200px;
        height: 40px;
        background-color: rgb(221, 221, 221);
        border-radius: 5px;
        color: black;
    }
}

#result {
    display: flex;
    align-content: space-around;
    background-color: white;
    align-items: center;
    width: 54%;
    margin-left: 20%;
    margin-right: 20%;
    table {
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 3%;
        text-align: center;
        td {
            background-color: rgb(92, 214, 245);
            padding: 5px;
        }
        tr.table_header {
            color: white;
            font-weight: bold;
        }
    }
}

.input-validation-error-hidden {
    display: none;
}

.input-validation-error {
    color: red;
    width: 280px;
    text-align: left;
    margin-left: 10px;
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }
        ; //600px
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }
        ; //900px
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }
        ; //1200px
    }
    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }
        ; //1800
    }
}